.restaurantCard {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  background-color: red;
  background-color: black;
  position: relative;
  border-radius: 10px;
  border: 2px solid #333;
  overflow: hidden;
}

.textContent {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-height: 150px;
}

.title {
  font-size: 22px;
}

.image {
  height: 100%;
}

.description {
  height: 50px;
  overflow: hidden;
}

.rating {
  margin-bottom: 20px;
}

.shader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.link {
  color: white;
  background-color: firebrick;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

span.cuisine:not(:nth-child(1)) {
  margin-left: 10px;
}
