* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards {
  background-color: #111;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  grid-gap: 20px;
  min-height: 500px;
}

@media (min-width: 1000px) {
  .cards {
    grid-template-columns: 300px 300px 300px;
  }
}
